<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Tema de casa</title>
        <link rel="stylesheet" href="css/stil.css" type="text/css"/>
        <link rel="stylesheet" href="js/script.js" type ="text/js"/>
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    </head>

    <body>
        <br>
        <img src="images/skin.jpg" alt="aa" class="center" width="120" height="120">
        <h1>Skin Gold</h1>
        <nav>
            <a href="index">Acasă</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="mag">Magazin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="contact">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="autentificare">Intră în cont / Cont nou</a>
        </nav>
        <main>
            <h2>Contactează-ne!</h2>
            <p class="red">Suntem aici pentru tine!<br>
                Așteptăm întrebările tale și încercăm să îți răspundem în cel mai scurt timp.<br>
                Suntem mereu la  dispoziția clienților. Încercăm să îmbunătățim constant calitatea serviciilor noastre.
            <form>
                <p><b>Adresa:</b><br>
                    Piața George Enescu nr. 3, Iași, România
                <p><b>Telefon: </b><br>
                    <a href="+40741284625">+4 0741 284 625</a> - Informații legate de produse<br>
                    <a href="+40751684125">+4 0751 684 125 </a>- Informații legate de comenzi
                <p><b>Email:</b><br>
                    <a href="antalutecristina@gmail.com">gold_skin@gmail.com</a>
                <p><b>Program:</b><br>
                    L-V: 09:00-18:00
                <p><b>Transport:</b><br>
                    15 lei (comenzi mai mici de 150 RON)<br>
                    gratuit (comenzi de 150 ron sau mai mari)
            </form>
            <form>
                <fieldset>
                <label><i>Nume: </i></label>
                <input type="text" value="nume"><br><br>
                <label><i>Prenume: </i></label>
                <input type="text" value="prenume"><br><br>
                <label><i>Email: </i></label>
                <input type="email" value="email"><br><br>
                <label><i> Mesaj: </i></label>
                <textarea> </textarea><br><br>
                </fieldset>
            </form>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" enabled value="Trimite">
        </main>

    </body>

    <br><br>
    <footer>&#169;.2020 Skin Gold | Toate drepturile rezervate&nbsp;&nbsp;&nbsp;</footer>
</html>