<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Tema de casa</title>
        <link rel="stylesheet" href="css/stil.css" type="text/css"/>
        <link rel="stylesheet" href="js/script.js" type ="text/js"/>
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Beth Ellen' rel='stylesheet'>
    </head>

    <body>
        <br>
        <img src="images/skin.jpg" alt="aa" class="center" width="120" height="120">
        <h1>Skin Gold</h1>
        <nav>
            <a href="index">Acasă</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="mag">Magazin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="contact">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="autentificare">Intră în cont / Cont nou</a>
        </nav>
        <main>
            <br><br>
            <p class="one">Un ten sanatos are nevoie de cele mai bune produse. <br>
                La noi gasesti orice ai nevoie la cea mai buna calitate.<br></p>
            <img src="images/kylie.jpg" alt="kylie" class="let" width="450" height="520">&nbsp;&nbsp;&nbsp;
            <img src="images/lux.jpg" alt="lux" class="right" width="350" height="450">&nbsp;&nbsp;&nbsp;
            <img src="images/clin.jpg" alt="clin" class="let" width="400" height="500"><br><br>
            <img src="images/cav.jpg" alt="cav" class="left" width="400" height="500">&nbsp;&nbsp;
            <img src="images/perf.jpg" alt="perf" class ="top" width="450" height="300">&nbsp;&nbsp;
            <img src="images/col.jpg" alt="col" class="left" width="380" height="500">

            <p class="one">Produsele noastre te ajuta sa ajungi la tenul perfect.<br>
                Gamele variate de produse din care poți alege, nu te vor lasa fara de ce ai nevoie.
        </main>

    </body>

    <br><br>
    <footer>&#169;.2020 Skin Gold | Toate drepturile rezervate&nbsp;&nbsp;&nbsp;</footer>
</html>