<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Tema de casa</title>
        <link rel="stylesheet" href="css/stil.css" type="text/css"/>
        <link rel="stylesheet" href="js/script.js" type ="text/js"/>
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <br>
        <img src="images/skin.jpg" alt="aa" class="center" width="120" height="120">
        <h1>Skin Gold</h1>
        <nav>
            <a href="index">Acasă</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="mag">Magazin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="contact">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="autentificare">Intră în cont / Cont nou</a>
        </nav>

        <main>            
            <h2 style="text-align:center">Produse de skin-care</h2>
            <h3>Cele mai noi si inovatoare produse de pe piata din România</h3>

            <form class="example" action="/action_page.php" style="margin:auto;max-width:250px">
                <input type="text" placeholder="Căutare.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <p>
            <div class="card">
                <div class="column">
                    <img src="images/lux.jpg" alt="col" width="300" height="380"><br>
                    <h3>Gold Line</h3>
                    <p class="price">425 RON</p>
                    <p>Set Gold Line compus din: 24K Gold Luxury First Serum, 24K Gold Mineral Cream, 24K Gold Mineral Essence 
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/aloe.jpg" alt="col" width="380" height="320"><br>
                    <h3>Hidratare booster</h3>
                    <p class="price">250 RON</p>
                    <p>Set special alcătuit din 4 produse de la branduri diferite: Detoxifying Mască+Scrub Human Nature, Cosrx AHA-BHA Toner, Aloe Vera Gel 100% esfolio, Enzime Powder Wash
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/cav.jpg" alt="col" width="330" height="380"><br>
                    <h3>24k Gold Caviar</h3>
                    <p class="price">459 RON</p>
                    <p>Set 24k Gold Caviar compus din: 24k Gold Caviar Essence, 24k Gold Caviar Cream 50 gr, 24k Gold Caviar 3step Solution Mask
                    <p><button>Add to Cart</button></p>
                </div>
            </div>



            <div class="card">
                <div class="column">
                    <img src="images/clin.jpg" alt="col" width="300" height="350"><br>
                    <h3>Clinique Set</h3>
                    <p class="price">619 RON</p>
                    <p>Set Clinique compus din: Săpun facial Oily Skin Formula, Loțiune exfoliatoare, Hydrating Jelly, Demachiant de față
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/kylie.jpg" alt="col" width="350" height="380"><br>
                    <h3>Kylie Skin Care</h3>
                    <p class="price">750 RON</p>
                    <p>Kylie Skin alcătuit din: Cremă hidratantă, Cremă de ochi, Spumă de curățare, Vanilla Toner, Vitamina C
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/set.jpg" alt="col" width="330" height="380"><br>
                    <h3>Moisture Surge</h3>
                    <p class="price">249 RON</p>
                    <p>Set Moisture Surge compus din: Moisture Surge Cremă, Moisture Surge Mask, Moisture Surge Eye
                    <p><button>Add to Cart</button></p>
                </div>
            </div>



            <div class="card">
                <div class="column">
                    <img src="images/tea.jpg" alt="col" width="350" height="350"><br>
                    <h3>Green Tea</h3>
                    <p class="price">299 RON</p>
                    <p>Set Green Tea compus din: Cleanser curățare, Toner, Cremă de noapte
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/col.jpg" alt="col" width="330" height="350"><br>
                    <h3>Collagen Premium Set</h3>
                    <p class="price">599 RON</p>
                    <p>Set Premium Gold Collagen alcătuit din: Premium Gold Collagen Toner, Premium Gold Collagen Emulsion, Premium Gold Collagen Ampoule si Premium Gold Collagen Cream
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/vichy.jpg" alt="col" width="330" height="350"><br>
                    <h3>Vichy Skin Care</h3>
                    <p class="price">430 RON</p>
                    <p>Vichy Skin compus din: Vitamina C, Hyaluronic Acid Anti-Aging Set
                    <p><button>Add to Cart</button></p>
                </div>
            </div>
               

            <div class="card">
                <div class="column">
                    <img src="images/lan.jpg" alt="col" width="450" height="350"><br>
                    <h3>Lancome Absolue</h3>
                    <p class="price">599 RON</p>
                    <p>Set Lancome Absolue alcătuit din: Cremă cu textură Rich, Cremă cu textură Soft, Cremă de ochi, Ser hidratant
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/dr.jpg" alt="col" width="300" height="380"><br>
                    <h3>Dr. Jart</h3>
                    <p class="price">189 RON</p>
                    <p>Set Dr. Jart compus din: Ser, Tratament, Cremă
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/pixi.jpg" alt="col" width="300" height="350"><br>
                    <h3>Pixi Glow</h3>
                    <p class="price">149 RON</p>
                    <p>Set Pixi compus din: Gel de curățare Glow Mud, Toner Glow, Mască Glow Mud
                    <p><button>Add to Cart</button></p>
                </div>
            </div>
                

            <div class="card">
                <div class="column">
                    <img src="images/kiehls.jpg" alt="col" width="350" height="350"><br>
                    <h3>Calendula </h3>
                    <p class="price">399 RON</p>
                    <p>Set Calendula compus din: Gel de curățare, Toner hidratant, Cremă hidratantă, Mască de noapte gălbenele
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/ser.jpg" alt="col" width="350" height="350"><br>
                    <h3>Kiehl's ser</h3>
                    <p class="price">520 RON</p>
                    <p>Set Kiehl's alcătuit din 4 seruri: Ser Cannabis, Ser Midnight, Ser Vitamina C, Ser Daily Reviving Concentrate
                    <p><button>Add to Cart</button></p>
                </div>

                <div class="column">
                    <img src="images/me.jpg" alt="col" width="350" height="370"><br>
                    <h3>La Mer</h3>
                    <p class="price">800 RON</p>
                    <p>Set La Mer compus din: Gel de curățare, Loțiune Tratament, Cremă hidratantă
                    <p><button>Add to Cart</button></p>
                </div>
            </div>

        </main>

    </body>

    <br><br>
    <footer>&#169;.2020 Skin Gold | Toate drepturile rezervate&nbsp;&nbsp;&nbsp;</footer>
</html>